<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Alias in Group</th>
        <th scope="col">Number</th>
        <th scope="col">Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="statusList === undefined else showList"><p>Loading</p></tr>
      <ng-template #showList>
        <tr *ngFor="let statusItem of statusList.currentStatus; let i = index" [attr.data-index]="i" class="hover-scale" (click)="openQuestionModal()">
          <th scope="row">{{i + 1}}</th>
          <td>{{statusItem.Alias}}</td>
          <td>{{statusItem.AcceptedNum}}</td>
          <td><i [ngClass] = "(statusItem.Completed)? 'glyphicon glyphicon-ok text-success' : 'glyphicon glyphicon-remove text-danger'"></i></td>
        </tr>
      </ng-template>
    </tbody>
  </table>