thead {
    background-color: #1976D2;
    color: white;
    border-radius: 5px 5px 0 0;
}
#item-list {
    background-color: hsla(0,0%,94.5%,.2);
    border: .5px solid #dbdbdb;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list-header {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-items: stretch;
    padding: 10px 0px 10px 5px;
}
.header-element {
    text-align: left;
    cursor: pointer;

    a {
        text-decoration: none;
        color: black;
    }
}
.no-radius {
    border-radius: 0em;
}

.hover-scale {
    transition: all .2s ease-in-out;
  }
  
.hover-scale:hover {
    transform: scale(1.01);
    cursor: pointer;
    background-color: lightblue;
}
.complete-th{
    position: relative;
}
.completionStatus {
    position: absolute;
    right: 20px;
}
.loading {
    position: relative;
    width: 100%;
    min-height: 150px;
}
.tp-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
 }
 .tp-margin {
    margin: 0 10px;
 }
 .center {
     float: none;
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translateX(-50%) translateY(-50%);
 }