<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Alias in Group</th>
        <th scope="col">Number</th>
        <th scope="col">Complete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>hmei</td>
        <td>3</td>
        <td><i class="glyphicon glyphicon-ok text-success"></i></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody>
  </table>