<nav class="navbar navbar-expand-lg bg-secondary text-uppercase navbar-fixed-top">
  <app-navbar></app-navbar>
</nav>
<div class="big-img-wrapper">
</div>
<div class="container">

  <div class="datetime-wrapper">
    <app-datetime></app-datetime>
  </div>
  <div class="content-wrapper">
    <div class="lframe">
      <div class="status">
        <app-status></app-status>
      </div>
    </div>
    <div class="rframe">
      <app-calendar></app-calendar>
      <div>
        <ul class="nav nav-tabs">
          <li class="active"><a data-toggle="tab" href="#daily">Daily</a></li>
          <li><a data-toggle="tab" href="#weekly">Weekly</a></li>
          <li><a data-toggle="tab" href="#monthly">Monthly</a></li>
        </ul>

        <div class="tab-content">
          <div id="daily" class="tab-pane fade in active">
            <app-ranking></app-ranking>
          </div>
          <div id="weekly" class="tab-pane fade">
            <app-ranking></app-ranking>
          </div>
          <div id="monthly" class="tab-pane fade">
            <app-ranking></app-ranking>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>